/.elasticbeanstalk/*
!/.elasticbeanstalk/*.cfg.yml
!/.elasticbeanstalk/*.global.yml
/.git/
/dist/
/node_modules/
/public/libs/
/public/index.html
/public/clozone.sw.js
/npm-debug.log
.DS_Store
/public/**/*.css
