.menu-entry {
  color: white;
  border: none;
  padding: 3%;
  border-radius: 0.5em;
  position: relative;
  width: 80%;
  margin: 8% auto;
  display: block;
  text-align: left;
  padding-left: 30%;
  cursor: pointer;

  &:first-child {
    margin-top: 22%;
  }

  &:hover {
    opacity: 0.8;
  }

  span {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding-top: 3%;
    width: 30%;
    text-align: center;
  }
}
