<button type="button" class="menu-entry" ng-click="startSoloEasy()" font-size="5" of="container">
  <span class="label" ng-style="{ 'background-color': $root.color1 }">Solo</span>easy<span class="arrow">&#9658;</span>
</button>
<button type="button" class="menu-entry" ng-click="startSoloHard()" font-size="5" of="container">
  <span class="label" ng-style="{ 'background-color': $root.color1 }">Solo</span>hard<span class="arrow">&#9658;</span>
</button>
<button type="button" class="menu-entry" ng-click="startMultiOffline()" font-size="5" of="container">
  <span class="label" ng-style="{ 'background-color': $root.color2 }">Multi</span>offline<span class="arrow">&#9658;</span>
</button>
