[ng-cloak] {
  display: none !important;
}

.clear {
  clear: both;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Sans-Serif;
}

#container {
  max-width: 480px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 5%;
  font-weight: bold;
  text-transform: uppercase;
}

.score {
  width: 50%;
  float: left;
  text-align: center;

  &.player1 {
    padding: 0 3% 0 6%;
  }

  &.player2{
    padding: 0 6% 0 3%;
  }

  .box {
    color: white;
    padding: 6%;
    border-radius: 0.5em;
    opacity: 0.6;
  }

  .indicator {
    transition: opacity linear 200ms;
    opacity: 1;

    &.ng-hide {
      opacity: 0;
    }
  }
}

.map-container {
  position: relative;
  width: 100%;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

line {
  transition: stroke linear 200ms;
}

polygon {
  transition: fill linear 200ms;

  &.consumable {
    cursor: pointer;
  }
}

.version {
  display: inline-block;
  text-align: center;
  padding: 2%;
  width: 100%;
  color: gray;
}
